@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .header {
            text-align: center;
            padding: 0;
        }

        .logo {
            height: 50px;
            margin-bottom: 5px; /* spacing under the logo */
        }
    </style>


</head>
<body>
    <div class="header">

        <img src="/images/abc_Logo.png" style="height:100px;" alt="Logo" />
        
    </div>
</body>
</html>
