@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome to Rotativa PDF Demo</h1>
    <p>Click below to generate PDF:</p>
    <a class="btn btn-primary" href="/Home/GeneratePdf" target="_blank">Generate PDF</a>
</div>
